*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(assests/3334896.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}
.title{
    position: absolute;
    top: 30px;
    text-align: center;
    background: linear-gradient(90deg, #ff8800, #ffcc80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 600;
    z-index: -9999;
}
.calc {
    background: rgba(0, 0, 0, 0.068);
    padding: 20px;
    border-radius: 25px;
    box-shadow :5px 10px 32px 0 rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.441);
    z-index: 1;
}
.calc .buttons{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-gap: 10px;
}
button{
    height: 50px;
    border: none;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.139);
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.194)  ;
    cursor: pointer;
    transition: all 0.5s ease;
}
.calc .buttons input{
    grid-column: span 4;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    background: rgba(2, 2, 2, 0);
    color: #ffc400;
    font-size: 24px;
    text-align: right;
    padding: 0 10px;
    cursor: default;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.18);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
input:focus, button:focus{
    outline: none;
}
button:active{
    transform: scale(0.95);
    background-color:#0000001b ;
}
.orange{
    
    color: rgb(255, 196, 0);
}
.orange0{
    background: rgba(255, 196, 0, 0.856);
    color: #fff;
}
.orange0:active{
    background: rgb(176, 135, 1);
}
.heart-effect {
    z-index: -9999;
}
/* Additional styles for footer */
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    z-index: -9999;
    color: #ffffff77;
}

/* responsive layout ofr mobiles and tablets */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        padding-top: 20px;
        background-image: url(assests/mobileBg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .title {
        position: static;
        margin-bottom: 60px;
    }
    .calc {
        margin-top: 0;
        height: 60vh;
        width: 100vw;
        max-width: 360px;
        padding: 12px;
        position: relative;
        margin-bottom: 90px;
    }
    .calc .buttons{
    display: grid;
    grid-template-columns: repeat(4,76px);
    grid-gap: 10px;
    justify-content: center;
    }
    .calc .buttons input{
        height: 90px;
        font-size: 28px;
    }
    button{
        height: 67.9px;
        font-size: 20px;
    }
    footer {
        position: static;
        margin-top: 20px;
        font-size: 13px;
    }
}